# =========================
# MAVEN / BUILD
# =========================
target/
**/target/
build/
out/
**/generated-sources/

# =========================
# ALLURE
# =========================
allure-results/
allure-report/
.allure/

# =========================
# IDE (IntelliJ / Eclipse)
# =========================
.idea/
*.iml
workspace.xml
shelf/

.project
.classpath
.settings/

# =========================
# LOGS
# =========================
*.log

# =========================
# JAVA
# =========================
*.class

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp